* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    width: 375px;
}

/* debug */

header {
    height: 100px;
}

/* utility */
.text-white {
    color: white;
}

.text-black {
    color: black;
}

/* HEADER */

header {
    background-color: hsl(209deg 100% 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}


.hamburger {
    color: white;
}

/* MAIN */

.comtainer {

    width: 375px;
}

/* DEMO */

.demo {
    background-color: #b5ddff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 20px;
    /* converti pxs in % */
}

.demo-content {
    display: flex;
    flex-direction: column;

}

.h1-blue {
    color: #0084fd;
    padding-top: 15%;
    padding-left: 10%;
}

p {
    color: #5a6e7f;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    line-height: 25px;

}

#appstore {
    background-color: #0084fd;
    color: white;
    margin-left: 10%;
    margin-right: 30%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 20px;
}

.phone {
    padding-top: 10%;
}

/* CLEAN CODE */

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.icon {
    color: #0084fd;
}



.text-justify-center {
    text-align: center;
    padding-right: 10%;
}


/*STRATEGIC PLANNING*/

.container-violet {
    background-color: #9792e4;
    margin-bottom: 80px;

}

.column {
    display: flex;
    flex-direction: column;
}



.strategic {
    padding-right: 10%;
}


.development {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.arrow {
    margin: 0 45%;
    border-radius: 8px;
    background-color: #9792e4;
    padding: 5px 0;
    margin-bottom: 5%;
}

/*TESTIMONIALS*/
.testimonials {
    background-color: #9792e4;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}

.h1-testimonials {
    color: #9792e4;
}

.propic {
    padding-top: 20px;
    border-radius: 50% 50%
}

/*BENEFICTS*/

.beneficts {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 20px;
}

.h1-beneficts {
    padding-top: 20%;
    color: white;
    text-align: center;
    font-size: 33px;
}

.h2-beneficts {
    color: #9792e4;
    font-size: 60px;
    padding-left: 4%;
}

.h3-beneficts {
    color: #9792e4;
    padding-top: 5%;
    padding-left: 4%;
}

.more {
    background-color: #9792e4;
    color: white;
    padding: 5px 45px;
    font-size: larger;
    margin-left: 20%;
    border-radius: 45px;
}